* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
}

header {
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 176px;
    padding: 88.65px;
}

.navLinks {
    display: flex;
    gap: 51px;
    font-size: 22.15px;
}

.burger {
    display: none;
}

.logo {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
}

.description-section {
    color: var(--main-text-color);
    font-size: 34.84px;
    text-align: center;
    width: 50%;
}

.portfolio-section {
    display: flex;
    justify-content: center;
    height: 242px;
    color: var(--main-text-color);
    font-size: var(--section-fs);
}

.pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.pictures img {
    display: flex;
}

.pictures a {
    height: 545px;
}

.right-pictures {
    display: grid;
    justify-items: end;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 1238px;
}

.about-section {
    display: flex;
    justify-content: center;
    color: var(--main-text-color);
    font-size: var(--section-fs);
}

.about-text {
    display: flex;
    align-self: center;
    width: 1118px;
    color: var(--main-text-color);
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    padding: 56px;
}

.about-pictures {
    display: flex;
    justify-content: center;
}

.services {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 1568px;
}

.services-section {
    display: flex;
    justify-content: center;
    color: var(--main-text-color);
    font-size: var(--section-fs);
    margin: 98px;
}

.services-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.web-development {
    background-color: #f2f2f2;
    width: 560px;
    height: 518px;
}

.graphic-design {
    background-color: #c0c0c0;
    width: 560px;
    height: 518px;
}

.product-design {
    background-color: #e2e2e2;
    width: 560px;
    height: 518px;
}

.mobile-app {
    background-color: #b4b4b4;
    width: 560px;
    height: 518px;
}

.left-services {
    display: grid;
    justify-items: end;
}

.service-name {
    font-size: var(--services-name-fs);
    font-weight: var(--services-name-fw);
    padding: 26px 32px;
    width: 50%;
}

.service-text {
    font-size: var(--services-text-fs);
    margin-left: 32px;
    width: 494px;
}

.quote {
    font-size: var(--services-text-fs);
    margin: 56px 32px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 922px;
    color: var(--main-text-color);
    font-size: 64px;
}

.contact-section {
    font-size: var(--section-fs);
    margin: 120px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 22px 90px;
    background-color: #ffffff;
}

.company {
    font-weight: 700;
    font-size: 20px;
}

.terms {
    display: flex;
    gap: 98px;
    font-weight: 300;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    header {
        height: 100px;
        padding: 36px;
    }

    .navLinks {
        display: none;
    }

    .burger {
        display: block;
        font-size: 26px;
    }

    .logo {
        font-size: 18px;
    }

    .description {
        height: 290px;
    }

    .description-section {
        font-size: 20px;
        width: 65%;
    }

    .portfolio-section {
        font-size: 50px;
        height: 120px;
    }

    .pictures {
        display: flex;
        overflow-y: hidden;
        gap: 20px;
    }

    .right-pictures img, .left-pictures img, .pictures a {
        width: 310px;
        height: 299px;
    }

    .right-pictures, .left-pictures {
        display: flex;
        gap: 20px;
    }

    .about {
        height: 700px;
    }

    .about-section {
        font-size: 50px;
    }

    .about-text {
        font-size: 16px;
        width: auto;
    }

    .about-pictures {
        gap: 14px;
        overflow-y: hidden;
    }

    .about-pictures img {
        width: 160px;
        height: 215px;
    }

    .services {
        height: 600px;
    }

    .services-section {
        font-size: 50px;
    }

    .services-about {
        overflow-y: hidden;
        gap: 12px;
    }

    .left-services, .right-services {
        display: flex;
        gap: 12px;
    }

    .web-development, .product-design, .graphic-design, .mobile-app {
        width: 280px;
        height: 254px;
    }

    .service-name {
        font-size: 24px;
        padding: 12px;
    }

    .service-text  {
        font-size: 14px;
        width: 200px;
        margin-left: 14px;
    }

    .quote {
        font-size: 14px;
        margin: 12px;
    }

    .contact {
        height: 500px;
    }

    .contact-section {
        font-size: 50px;
        margin: 80px;
    }

    .email, .tel {
        font-size: 36px;
    }

    footer {
        display: flex;
        background-color: var(--main-bg-color);
        justify-content: center;
        height: 120px;
    }

    .company {
        color: var(--main-text-color);
    }

    .terms {
        display: none;
    }
}

/* 2nd page */

.back-button {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: transparent;
    color: var(--main-text-color);
    font-size: 32px;
    font-weight: 500;
}

.arrow {
    height: 50px;
    width: 50px;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products-section {
    color: var(--main-text-color);
    font-size: 82px;
    text-align: center;
    width: 900px;
    margin: 150px;
}

.camera-about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-camera {
    color: var(--main-text-color);
    text-align: center;
    font-size: 30px;
    width: 1020px;
    margin: 100px;
}

.more-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 98px;
    margin: 200px;
}

.left-side-product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 178px;
}

.right-side-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 270px;
}

.about-product-left, .about-product-right {
    color: var(--main-text-color);
    font-weight: 300;
    font-size: 30px;
    width: 440px;
}

.about-product-left {
    text-align: right;
}

.customer-review {
    margin: 200px;
}

.review-section {
    color: var(--main-text-color);
    font-size: 76px;
    text-align: center;
    margin: 90px;
}

.review {
    display: flex;
    justify-content: center;
}

.review-about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px;

}

.review-name {
    color: var(--main-text-color);
    font-size: 60px;
    width: 716px;
}

.review-text {
    color: var(--main-text-color);
    font-size: 30px;
    font-weight: 300;
    width: 716px;
}

.reviewer-name {
    color: var(--main-text-color);
    font-size: 22px;
    font-weight: 300;
}

:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --main-font: Inter;
    --section-fs: 96px;
    --services-name-fs: 56px;
    --services-name-fw: 700;
    --services-text-fs: 26px;
}